{% extends "layouts/base.html" %}


{% block content %}
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form role="form" method="post" action="">
                                            {% csrf_token %} 
                                            {% include 'partials/_messages.html' %}
                                            <div class="form-floating mb-3">
                                                  {{ form.username }}
                                                  <label>Username</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                {{ form.password }}
                                                <label>Password</label>
                                            </div>
                                  
                                            <div class="text-center">
                                             <button type="submit" name="login" class="btn btn-primary btn-lg btn-block">Login</button>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        Need an account?<a href="{% url 'register' %}"> Sign up!</a>
                                        <br>
                                        Forget password? <a href="{% url 'request-password' %}" class="text-primary">Reset Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
{% endblock content %}

