{% extends "layouts/base.html" %}

{% load static %}

 {% block content %}

{% comment %} <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
  

    <div class="card-body">
        <div class="card-title text-center py-3">
            <p class="h4 font-weight-bold">Set Your New Password</p>
        </div>
        <form action="{% url 'reset-password' uidb64 token %}" method="post">
        {% csrf_token %}
        {% include 'partials/_messages.html' %}
          <div class="form-group">
            <label for="exampleInputEmail">New Password</label>
            <input
              type="password"
              name="password"
              class="form-control form-control"
              placeholder="Password"
              id="passwordField"
            />
          </div>
               <div class="form-group">
            <label for="exampleInputEmail">Confirm Password</label>
            <input
              type="password"
              name="password2"
              class="form-control form-control"
              placeholder="Confirm Password"
              id="passwordField"
            />
          </div>
        <input type="submit" value="Submit" class="btn btn-block btn-primary" id="submit-btn"/>
        </form>
        <div class="container">
            <span>Already have an account? </span> <a href="{% url 'login' %}">Login</a>
            <br>
            <span>Don't have an account'? </span> <a href="{% url 'register' %}">Register</a>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>


  <div class="col-md-4"></div>
</div> {% endcomment %}

 <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Set Your New Password</h3></div>
                                    <div class="card-body">
                                        <form action="{% url 'reset-password' uidb64 token %}" method="post">
                                            {% csrf_token %} 
                                            {% include 'partials/_messages.html' %}
                                            <div class="form-floating mb-3">
                                                    <input
                                                      type="password"
                                                      name="password"
                                                      class="form-control form-control"
                                                      placeholder="Password"
                                                      id="passwordField"
                                                    />
                                                  <label for="exampleInputEmail">New Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                    <input
                                                      type="password"
                                                      name="password2"
                                                      class="form-control form-control"
                                                      placeholder="Confirm Password"
                                                      id="passwordField"
                                                    />
                                                   <label for="exampleInputEmail">Confirm Password</label>
                                            </div>
                                              <input type="submit" value="Submit" class="btn btn-block btn-primary" id="submit-btn">
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        Already have an account? <a href="{% url 'login' %}">Login</a>
                                        <br>
                                        Don't have an account'? <a href="{% url 'register' %}" class="text-primary">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

{% comment %} <script src="{% static 'js/register.js' %}"></script> {% endcomment %}

{% endblock content %}
