{% extends "layouts/base.html" %}

{% load static %}

 {% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
  

    <div class="card-body">
        <div class="card-title text-center py-3">
            <p class="h4 font-weight-bold">Set Your New Password</p>
        </div>
        <form action="{% url 'reset-password' uidb64 token %}" method="post">
        {% csrf_token %}
        {% include 'partials/_messages.html' %}
          <div class="form-group">
            <label for="exampleInputEmail">New Password</label>
            <input
              type="password"
              name="password"
              class="form-control form-control"
              placeholder="Password"
              id="passwordField"
            />
          </div>
               <div class="form-group">
            <label for="exampleInputEmail">Confirm Password</label>
            <input
              type="password"
              name="password2"
              class="form-control form-control"
              placeholder="Confirm Password"
              id="passwordField"
            />
          </div>
        <input type="submit" value="Submit" class="btn btn-block btn-primary" id="submit-btn"/>
        </form>
        <div class="container">
            <span>Already have an account? </span> <a href="{% url 'login' %}">Login</a>
            <br>
            <span>Don't have an account'? </span> <a href="{% url 'register' %}">Register</a>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>


  <div class="col-md-4"></div>
</div>

{% comment %} <script src="{% static 'js/register.js' %}"></script> {% endcomment %}

{% endblock content %}
